.design_bg {
    background: url(../../assets/memberCardImages/vectorblue.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.development_bg {
    background: url(../../assets/memberCardImages/vectorred.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.operations_bg {
    background: url(../../assets/memberCardImages/vectoryellow.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}