.navLinks {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
  text-transform: uppercase;

  // md in tailwind
  @media only screen and (max-width: 768px) {
    background: linear-gradient(224deg, #262626 0%, #161616 65.63%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.mobileBg{
  background:transparent !important;
}
.navLinks a {
  background: linear-gradient(
    180deg,
    #f7f7f7 0%,
    rgba(247, 247, 247, 0.5) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.close svg {
}

.navbarBg {
  background-color: #262626;
  box-shadow: 0px 5px 5px #161616;
}
