@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.secondary-colour {
  color: #f0b542 !important;
}

.primary-colour {
  color: #f7f7f7 !important;
}

.tertiary-colour{
  color: #161616 !important;
}

body {
  color: #f7f7f7;
}
