* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.secondary-colour {
  color: #f0b542 !important;
}

.primary-colour {
  color: #f7f7f7 !important;
}

.tertiary-colour {
  color: #161616 !important;
}

body {
  color: #f7f7f7;
}

.h1-styles {
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;

  @media only screen and (min-width: 768px) {
    font-size: 43px;
    line-height: 60px;
  }
  @media only screen and (min-width: 1536px) {
    font-size: 60px;
  }
  @media only screen and (min-width: 1536px) {
    line-height: 76.46px;
    font-size: 70px;
  }
}

.h2-styles {
  font-weight: bold;
  font-size: 25px;

  @media only screen and (min-width: 768px) {
    font-size: 30px;
  }
  @media only screen and (min-width: 1536px) {
    font-size: 38px;
  }
  @media only screen and (min-width: 1536px) {
    font-size: 45px;
  }
}
.h3-styles {
  font-weight: bold;
  font-size: 20px;
  // opacity: .6;

  @media only screen and (min-width: 768px) {
    font-size: 25px;
  }
  @media only screen and (min-width: 1536px) {
    font-size: 25px;
  }
  @media only screen and (min-width: 1536px) {
    font-size: 30px;
  }
}

.li-styles,
.a-styles,
.p-styles {
  font-size: 18px;
  @media only screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media only screen and (min-width: 1536px) {
  }
  @media only screen and (min-width: 1536px) {
  }
}
