.leadershipCardOperations-img {
    background: linear-gradient(224deg, #553800 0%, #000 100%);
}
.leadershipCardOperations:hover {
    box-shadow: 0px 0px 29.16666603088379px 0px rgba(240, 181, 66, 0.25), 0px 0px 8.333333015441895px 0px rgba(255, 255, 255, 0.25);
}

.leadershipCardDesign-img {
    background: linear-gradient(224deg, #02256A 0%, #000 100%);
}
.leadershipCardDesign:hover {
    box-shadow: 0px 0px 29.16666603088379px 0px rgba(2, 37, 106, 0.75), 0px 0px 8.333333015441895px 0px rgba(255, 255, 255, 0.25);
}

.leadershipCardDevelopment-img {
    background: linear-gradient(224deg, #5E022E 0%, #000 100%)
}
.leadershipCardDevelopment:hover {
    box-shadow: 0px 0px 17.66189956665039px 0px rgba(94, 2, 46, 0.75), 0px 0px 5.046257019042969px 0px rgba(255, 255, 255, 0.25);
}

.noise {
    background: url(../../assets/noise.png);
    background-blend-mode: screen;
}